
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim </p>
<p>#2 Tüm Başlıklarda Paging </p>
<p>#3 Sessiona Göre Mesajlar </p>
<p>#4 Oturum Yönetiminin Mimariye Taşınması </p>
<p>#5 Token Kullanımı </p>



