@using Entities.Concrete
@model  List<Category>
    


@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Durum</th>
    </tr>

    @foreach (var item in Model)
    {   
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            
            
        </tr>

    }

</table>
<br />
<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>